<div  class="container bootstrap snippets bootdey">
    <div class="col-md-12 content" style="margin-top: 100px; ">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info panel-shadow">
                    <div class="panel-body"> 
                        <div class="table-responsive">
                        <table class="table" style="overflow: hidden;">
                            <thead>
                            <tr>
                                <th>Proizvod</th>
                                <th>Opis</th>
                                <th>Količina</th>
                                <th>Cena</th>
                                <th>Ukupno</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="../../assets/img/majica.jpg" class="img-cart"></td>
                                    <td><strong>Majica </strong><p>Veličina: S</p></td>
                                    <td>
                                    <form class="form-inline">
                                        <input class="form-control" type="text" value="1">
                                        <button rel="tooltip" class="btn btn-default"><i class="fa fa-pencil"></i></button>
                                    </form>
                                    </td>
                                    <td>rsd 2000</td>
                                    <td>rsd 2000</td>
                                </tr>
                                <tr>
                                    <td><img src="../../assets/img/majica.jpg" class="img-cart"></td>
                                    <td><strong>Majica  2 </strong><p>Veličina: L</p></td>
                                    <td>
                                    <form class="form-inline">
                                        <input class="form-control" type="text" value="1">
                                        <button rel="tooltip" class="btn btn-default"><i class="fa fa-pencil"></i></button>
                                    </form>
                                    </td>
                                    <td>rsd 2000</td>
                                    <td>rsd 2000</td>
                                </tr>
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Ukupno</strong></td>
                                    <td>rsd 4000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <a href="#" class="btn btn-light"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Nastavite sa kupovinom</a>
                <a href="#" class="btn btn-danger" style="margin-left: 20px;">Proučite<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>